{% extends "base.html" %}
{% block content %}
<h2 class="text-2xl font-semibold mb-4">Cadastrar novo alimento</h2>

<form method="POST" class="bg-white p-6 shadow rounded w-full md:w-1/2">
  <div class="mb-3">
    <label class="block">Nome do alimento</label>
    <input type="text" name="name" required class="border rounded p-2 w-full">
  </div>

  <div class="mb-3">
    <label class="block">Quantidade</label>
    <input type="number" name="quantity" min="1" required class="border rounded p-2 w-full">
  </div>

  <div class="mb-3">
    <label class="block">Data de validade</label>
    <input type="date" name="expiration_date" min="" required class="border rounded p-2 w-full">
  </div>

  <div class="mb-3">
    <label class="block">Local de retirada</label>
    <input type="text" name="location" required class="border rounded p-2 w-full">
  </div>

  <button type="submit" class="bg-green-600 text-white px-4 py-2 rounded">Cadastrar</button>
</form>
{% endblock %}
